* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@media (min-width: 200px) and (max-width: 1000px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
  }
  nav .navRight {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navLeft {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 200px) and (max-width: 1000px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerLeft {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
  }
  footer .footerMid {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
  footer .footerRight {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    min-width: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.spec-of-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 981px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}
.spec-of-sec h1 {
  margin-bottom: 45px;
}
.spec-of-sec .spec-off-images {
  width: 554px;
  min-height: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 51px;
}
.spec-of-sec .spec-off-images .left {
  min-width: 50%;
  min-height: 100%;
  margin-right: 20px;
}
.spec-of-sec .spec-off-images .left img {
  min-height: 287px;
  width: 100%;
}
.spec-of-sec .spec-off-images .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
  min-height: 100%;
}
.spec-of-sec .spec-off-images .right h2 {
  margin-bottom: 29px;
  letter-spacing: 2px;
  font-size: 30px;
}
.spec-of-sec .spec-off-images .right p {
  margin-bottom: 51px;
}

.blog-template-section {
  width: 980px;
  height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-template-section h1 {
  margin-bottom: 41px;
}
.blog-template-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}
.blog-template-section .wrapper .left {
  min-width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-template-section .wrapper .left p {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #79ADDC;
}
.blog-template-section .wrapper .right {
  min-width: 900px;
  min-height: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-template-section .wrapper .right p {
  margin-bottom: 11px;
}
.blog-template-section .wrapper .right .blue {
  color: #79ADDC;
}