* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
  }


  @media (min-width: 200px) and (max-width: 1000px) {
    nav{
      flex-direction: column;
      min-height: min-content;

      .navRight{
        min-height: min-content;
        align-items: center;
        flex-direction: column;
      }
      .navLeft{
        min-height: min-content;
        align-items: center;
      }
    }
  }
  
  @media (min-width: 200px) and (max-width: 1000px) {
    footer{
      flex-direction: column;


      .footerLeft{
        min-width: min-content;
        min-height: min-content;
      }

      .footerMid{
        min-height: min-content;
        min-width: min-content;
      }

      .footerRight{
        min-height: min-content;
        min-width: 200px;
        justify-content: space-between;
      }

    }
  }

  .site-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
  }