.templateHeader{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/israel-temp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderUsa{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/usaHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderAus{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/ausHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderNz{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/nzHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderFra{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/franceHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderEgy{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/egyptHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderJap{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/japanHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderCan{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/canadaHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}

.templateHeaderUae{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    width: 981px;
    min-height: 413px;
    background-image: url(../images/uaeHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .head-left{
        min-width: 500px;
        height: inherit;
        font-size: 60px;
        color:white;
    }

    .head-right{
        font-size: 20px;
        color:white;
        position: absolute;
        right: 370px;
        bottom: 450px;

    }
}